 .container{
 display: grid;
 grid-gap: 23px;
 grid-template-columns: 2fr 800px;
 width: 100%;
 /* height: 500px; */
 margin:auto;
 overflow: hidden;

}
.chapImage{
    width: 500px;
    display: block;
    margin-left: 150px;
    margin-top: 10px;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    
    

}
.bookOne{
    width: 200px;
   
    

}
.chapters{
    margin-left:0;
}
.chaptItems{
    text-align: left;
    background-color: rgb(238, 233, 233);
    padding: 20px;
    box-shadow: rgb(220, 220, 220) 12px 1px 23px;
    display: block;

    
}
.chap{
    text-decoration: none;   
    list-style: none;
    font-size: 30px;

}
p{
    font-size:20px;
}
.chapterImage{
    width: 500px;
}
.textArea{
    text-align:justify;
    padding: 0px 15px;
    margin-bottom: 20px;
    margin-top:350px;
    margin-left:20px;
    width: 90%;
    overflow-y: scroll;
    height:100px;
}
.chaptItems:hover{
    background-color: orange;
    cursor: context-menu;
    font-size: 20px;
    transition: .3s;
    color: white;
}

.description{
    font-size: 20px;
    text-align: left;
}
p{
    font-size: 15px;
} 
.imageHolder{
    width: 800px; 
    position: relative;
    background-color: rgb(223, 218, 218);
    box-shadow: rgb(220, 220, 220) 12px 1px 23px;


}





