
.menucontainer{
    
    background-color: rgb(255, 143, 7);
     
}



.menu-items{
    display: flex;  
    justify-content: flex-end;  
   
    
    
    
}

.menulink{
    list-style-type: none;    
    padding: 0;
    
    
   
}


.menu-a{
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.menu-a:hover{
    background-color:rgb(106, 100, 100);
}


@media only screen and (max-width: 500px) {
    .menu-items{
        flex-direction: column;
      }

    .menulink{

    display: block;
    }

}