
.menucontainer{
    width:100vw;
    margin: left;
    background-color: rgb(255, 143, 7);
    float:right;
    margin:0;
    padding: 2px 0;    
}



.menu-items{
    display: flex;    
    width: 100%;
    
    
    
}

a{
    color: white;
    text-decoration: none;

}

.menulink{
    list-style-type: none;
    margin: 0 3vw;
    
    font-size: 3vh;
   
}
.menulink:hover{
    color:black;
    

}


@media only screen and (max-width: 500px) {
    .menu-items{
        flex-direction: column;
      }

    .menulink{

    display: block;
    }  
    .menubutton{
        display: block;
        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
    }
}